<!--
  Generated template for the CreateW2GGamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Create Game</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addQuestion()">
                <ion-icon name="add">
                </ion-icon>
            </button>
            <button ion-button (click)="saveW2GGame($event, w2ggame)">SAVE</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content no-padding>
    <agm-map #map *ngIf="currentLocation" [latitude]="currentLocation.latitude" [longitude]="currentLocation.longitude" (mapClick)="selectedMapPoint($event)">
        <agm-polyline [clickable]="false">
            <agm-polyline-point *ngIf="w2ggame.entryPoint" [latitude]="w2ggame.entryPoint.latitude" [longitude]="w2ggame.entryPoint.longitude">
            </agm-polyline-point>
            <div *ngFor="let question of w2ggame.questions">
                <agm-polyline-point *ngIf="question.location" [latitude]="question.location.latitude" [longitude]="question.location.longitude">
                </agm-polyline-point>
            </div>
        </agm-polyline>
        <agm-marker *ngIf="w2ggame.entryPoint" [latitude]="w2ggame.entryPoint.latitude" [longitude]="w2ggame.entryPoint.longitude">
        </agm-marker>
        <div *ngFor="let question of w2ggame.questions">
            <agm-marker *ngIf="question.location" [latitude]="question.location.latitude" [longitude]="question.location.longitude">
            </agm-marker>
        </div>
        <agm-marker *ngIf="selectedLocation" [latitude]="selectedLocation.latitude" [longitude]="selectedLocation.longitude">
        </agm-marker>
    </agm-map>
    <question-set #questions id="questionset" [editable]="true" [game]="w2ggame"></question-set>
</ion-content>
<ion-footer>
    <button ion-button block (click)="buttonPressed()">{{questions.getButtonString()}}</button>
</ion-footer>