<ion-card padding>
    <location-selector [selectedLocation]="w2gQuestion.location" (selectLocation)="selectLocation.emit()"></location-selector>
    <ion-card-content>
        <ion-card-title>
            <!-- Question title -->
            <ion-label>
                Question number {{ questionNumber }}
            </ion-label>
        </ion-card-title>
        <p>
            <!-- Description -->
            <ion-textarea placeholder="Description" [(ngModel)]="w2gQuestion.description">
            </ion-textarea>
            <!-- Possible answers -->
        </p>
    </ion-card-content>
</ion-card>