<ion-grid no-padding stretch>
    <ion-row>
        <!-- Photo and location rows -->
    </ion-row>
    <ion-row justify-content-start>
        <!-- Question title -->
        <ion-col>
            <ion-label wrap>
                Question number {{ questionNumber }}
            </ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <!-- Description -->
        <ion-col>
            <ion-textarea placeholder="Description">
            </ion-textarea>
        </ion-col>
    </ion-row>
    <ion-row>
        <!-- Possible answers -->
    </ion-row>

</ion-grid>