<ion-content>
    <ion-grid>
        <ion-row>
            <!-- Photo and location rows -->
        </ion-row>
        <ion-row>
            <!-- Question title -->
            <ion-col>
                <ion-label color="primary">
                    Question number {{ questionNumber }}
                </ion-label>
                </ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row>
            <!-- Description -->
            <ion-col>
                <ion-textarea>
                </ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row>
            <!-- Possible answers -->
        </ion-row>

    </ion-grid>
</ion-content>