<ion-card padding>
    <!-- Photo and location rows -->
    <location-selector [selectedLocation]="w2ggame.entryPoint" (selectLocation)="selectLocation.emit()"></location-selector>
    <ion-card-content>
        <ion-card-title>
            <!-- Question title -->
            <ion-input type="text" placeholder="Game Name" [(ngModel)]="w2ggame.name">
            </ion-input>
        </ion-card-title>
        <!-- Label -->
        <p>
            <ion-textarea placeholder="Label" [(ngModel)]="w2ggame.label">
            </ion-textarea>
        </p>
    </ion-card-content>
</ion-card>